.board form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.board h4 {
  margin-bottom: 15px;
}
.board form label {
  color: var(--color-grey__light);
  font-size: 12px;
  font-weight: 700;
}
.columns {
  display: flex;
  align-items: center;
  gap: 16px;
  width: 100%;
}
.columns input {
  flex: 1;
}
.columns img {
  width: 14.849px;
  height: 14.849px;
  cursor: pointer;
}
.buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.buttons button {
  border-radius: 20px;
  width: 100%;
  border: none;
  padding: 10px;
  cursor: pointer;
}
#create_newBoard {
  background: var(--color-primary);
  color: var(--color-white);
}
#add_newColumn {
  background: rgba(99, 95, 199, 0.1);
  color: var(--color-primary);
}
#add_newColumn:hover {
  background: rgba(99, 95, 199, 0.25);
}
#create_newBoard:hover {
  background: var(--color-primary__light);
}
