.column {
  width: 280px;
  height: auto;
  overflow: scroll;
}
.column::-webkit-scrollbar {
  display: none;
}

.column_heading {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 10px;
}

.column_heading div {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  background: #49c4e5;
}
.column_heading h4 {
  color: var(--color-grey__light);
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 2.4px;
}
