.task {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
}

.heading {
  display: flex;
  align-items: center;
  gap: 60px;
  justify-content: space-between;
}
.manage_task {
  position: absolute;
  top: 15%;
  right: -25%;
  border-radius: 8px;
  background: var(--color-white);
  box-shadow: 0px 10px 20px 0px rgba(54, 78, 126, 0.25);
  width: 192px;
  height: 94px;
  padding: 16px;
}
.manage_task p {
  cursor: pointer;
}
#delete_task {
  color: var(--color-error);
  margin-top: 10px;
}

.heading h3 {
  color: var(--color-black);
  font-size: 17px;
  font-weight: 700;
}
.heading img {
  cursor: pointer;
}
.task p {
  color: var(--color-grey__light);
  font-size: 13px;
  font-weight: 500;
  line-height: 23px;
}

.task h5 {
  color: var(--color-grey__light);
  font-size: 12px;
  font-weight: 700;
  line-height: 23px;
}
.subtask {
  border-radius: 4px;
  background: var(--color-bg__light);
  height: 40px;

  display: flex;
  align-items: center;
}
.subtask.dark {
  background: var(--color-black__light);
  color: var(--color-white);
}
.subtask:hover {
  background: var(--color-primary__light);
  cursor: pointer;
  color: var(--color-black);
}
.subtask label {
  display: flex;
  gap: 10px;
  font-size: 12px;
  font-weight: 700;
  text-decoration-line: strikethrough;
  padding: 15px;
}
.label {
  color: var(--color-black);
  opacity: 0.5;
}
.task select {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid rgba(130, 143, 163, 0.25);
  background: var(--color-white);
}

h3.dark {
  color: var(--color-white);
}
.isCompleted {
  color: var(--color-black);
  opacity: 1;
}
