.modal_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #20212c72;
  /* opacity: 0.5; */
  z-index: 1000;
  transition: all 0.5s;
}

.modal {
  position: fixed;
  top: 13%;
  left: 40%;
  transition: all 0.5s;
  padding: 24px;
  border-radius: 6px;
  background: var(--color-white);
  width: 480px;
  height: max-content;
}
.dark {
  background: var(--color-grey__dark);
}
