.todo {
  padding: 23px 16px;
  background: var(--color-white);
  width: 280px;
  border-radius: 8px;
  box-shadow: 0px 4px 6px 0px rgba(54, 78, 126, 0.1);
  cursor: pointer;
}
.title {
  color: var(--color-black);
  font-size: 15px;
  font-weight: 700;
}
.todo p {
  color: var(--color-grey__light);
  font-size: 12px;
  font-weight: 700;
}

.dark {
  background: var(--color-grey__dark);
}
.title_dark {
  color: var(--color-white);
}
