@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;700&family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,800&display=swap");

:root {
  --font-family: "Plus Jakarta Sans", sans-serif;

  --color-primary: #635fc7;
  --color-primary__light: #a8a4ff;
  --color-black: #000112;
  --color-white: #ffffff;
  --color-black__light: #20212c;
  --color-grey__dark: #2b2c37;
  --color-grey: #3e3f4e;
  --color-grey__light: #828fa3;
  --color-bg: #e4ebfa;
  --color-bg__light: #f4f7fd;
  --color-error: #ea5555;
  --color-error__light: #ff9898;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
}

body::-webkit-scrollbar {
  display: none;
}
/* body {
  overflow: hidden;
} */
